@import '~bootstrap/scss/bootstrap';

.controls,
.playbutton {
  display: block;
  margin: 10px;
}

.synth {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.range {
  width: 80%;
}

#oscilloscope {
  display: none;
  width: 80%;
  height: 100px;
}

.image {
  width: 300px;
}
